@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

.contact-short {
  max-width: 60vw;
  margin: auto;
  padding: 5rem 10rem;
  background-color: rgb(123, 224, 214);
  border-radius: 1rem;
  box-shadow: shadowSupport;
  transform: translateY(50%);
  border-radius: 20px;
}
.contact-short-btn {
  justify-self: end;
  align-self: center;
  border-radius: 30px;
}
.butn{
  font-weight: bold;
  text-decoration: none;
  max-width: auto;
  background-color: #3796bb;
  color: #fff;
  padding: 1.4rem 2.4rem;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;


  &:hover,
  &:active {
    box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
    // box-shadow: ${({ theme }) => theme.colors.shadowSupport};
    transform: scale(0.96);
  }
}

footer {
  padding: 14rem 0 9rem 0;
  background-color: white;

  h3 {
    color: black;
    margin-bottom: 2.4rem;
    font-size: 18px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }
  p {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  .footer-social--icons {
    display: flex;
    gap: 2rem;
    div {
      padding: 1rem;
      border-radius: 50%;
      border: 2px solid rgb(29, 181, 215);;
      .icons {
        color: rgb(29, 181, 215);
        font-size: 2.4rem;
        position: relative;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  .footer-bottom--section {
    padding-top: 7rem;
    hr {
      margin-bottom: 0rem;
      color: black;
      height: 0.1px;
    }
  }
}

.footer {
  background-color: #eee;
}
